body {
  font-family: "Noto Sans", sans-serif;
  margin: auto;
  background-color: #fbf2fc;
  color: #231f24;
  font-size: 20;
  font-weight: 500;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #800060;
  color: #231f24;
}

a {
  text-decoration: none;
  color: #231f24;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fbf2fc;
  text-align: center;
  padding: 0.65em 0.65em;
  text-decoration: none;
}

li a:hover {
  background-color: #fbf2fc;
  color: #231f24;
}

img {
  border-radius: 0.75em;
  border-width: 0.15em;
  border-color: #800060;
  border-style: outset;
}

.active {
  background-color: #8A7BF9;
  color: #231f24;
}

.content {
  text-align: center;
  padding: 3em;
}

.boxes {
  display: flex;
  padding: 2em;
  height: 10em;
  justify-content: center;
}

.boxes2 {
  display: flex;
  width: 25em;
}

.box-text {
  padding: 1.5em;
  padding-top: 3em;
}

.hobbies {
  color: #231f24;
  font-size: 20px;
  font-weight: 500;
  width: 12em;
  height: 3em;
  padding: 0.5em 0.5em;
  cursor: pointer;
  border-color: #800060;
  border-radius: 0.75em;
  border-width: 0.15em;
  border-style: outset;
}

.normal-center {
  display: flex;
  justify-content: center;
  padding: 4em;
}

.name {
  font-size: 60px;
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 500;
  font-style: light;
}

.cert_boxes {
  display: flex;
  padding: 3em;
  height: 10em;
  justify-content: center;
}

.cert_boxes2 {
  display: flex;
  width: 25em;
  justify-content: center;
}

.project_boxes {
  display: flex;
  padding: 3em;
  justify-content: center;
}

.project_boxes2 {
  width: 40em;
  justify-content: center;
}

.project_boxes2_smaller {
  width: 30em;
  padding: 3em;
  justify-content: center;
}

.content2 {
  text-align: center;
}

.hobbies_boxes {
  display: inline;
  padding: 2em;
  justify-content: center;
}

.hobbies_boxes2 {
  width: 100%;
  justify-content: center;
}

.hobbies_boxes2_smaller {
  justify-content: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
}

#img1 {
  width: 20em;
  height: 20em;
  border: none;
}

#img2 {
  width: 30em;
}

#img3 {
  width: 16em;
  height: 16em;
}

#img4 {
  width: 25em;
  height: 12em;
}

#img5 {
  width: 20em;
  width: 20em;
}

#img6 {
  width: 12em;
  height: 16em;
}

@media only screen 
and (max-device-width: 600px) {
  body {
    font-family: "Noto Sans", sans-serif;
    margin: auto;
    background-color: #fbf2fc;
    color: #231f24;
    font-size: 11;
    font-weight: 350;
    width: 100%;
  }

  .name {
    font-size: 32px;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 500;
    font-style: light;
  }

  .boxes {
    display: inline;
    padding: 2em;
    height: 10em;
  }

  .boxes2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .box-text {
    padding: 3em;
    font-size: 12px;
  }

  .cert_boxes {
    display: inline;
    padding: 3em;
    height: 10em;
  }

  .cert_boxes2 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .project_boxes {
    display: inline;
    padding: 3em;
    justify-content: center;
  }

  .project_boxes2 {
    width: 100%;
    justify-content: center;
  }

  .project_boxes2_smaller {
    width: 100%;
    justify-content: center;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .hobbies {
    color: #231f24;
    font-size: 12px;
    font-weight: 500;
    width: 12em;
    height: 3em;
    padding: 0.5em 0.5em;
    cursor: pointer;
    border-color: #800060;
    border-radius: 0.75em;
    border-width: 0.15em;
    border-style: outset;
  }
}

@media only screen 
and (min-device-width: 601px)
and (max-device-width: 1200px) {
  body {
    font-family: "Noto Sans", sans-serif;
    margin: auto;
    background-color: #fbf2fc;
    color: #231f24;
    font-size: 16;
    font-weight: 400;
    width: 100%;
  }

  .name {
    font-size: 48px;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 500;
    font-style: light;
  }

  .boxes {
    display: inline;
    padding: 2em;
    height: 10em;
  }

  .boxes2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .box-text {
    padding: 3em;
  }

  .cert_boxes {
    display: inline;
    padding: 3em;
    height: 10em;
  }

  .cert_boxes2 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 2em;
  }

  .project_boxes {
    display: inline;
    padding: 3em;
    justify-content: center;
  }

  .project_boxes2 {
    width: 100%;
    justify-content: center;
  }

  .project_boxes2_smaller {
    width: 100%;
    justify-content: center;
    padding: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}