body {
  font-family: "Noto Sans", sans-serif;
  margin: auto;
  background-color: #fbf2fc;
  color: #231f24;
  font-size: 20;
  font-weight: 500;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #800060;
  color: #231f24;
}

a {
  text-decoration: none;
  color: #231f24;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fbf2fc;
  text-align: center;
  padding: 0.65em 0.65em;
  text-decoration: none;
}

li a:hover {
  background-color: #fbf2fc;
  color: #231f24;
}

img {
  border-radius: 15px;
  border-width: 2px;
  border-color: #800060;
  border-style: groove;
}

.active {
  background-color: #8A7BF9;
  color: #231f24;
}

.content {
  text-align: center;
  padding: 3em;
}

.boxes {
  display: flex;
  padding: 30px;
  height: 10em;
  justify-content: center;
}

.boxes2 {
  display: flex;
  width: 25em;
}

.box-text {
  padding: 25px;
  padding-top: 100px;
}

.hobbies {
  color: #231f24;
  font-size: 20px;
  font-weight: 500;
  width: 12em;
  height: 60px;
  padding: 8px 10px;
  cursor: pointer;
  border-color: #800060;
  border-radius: 10px;
  border-width: 2px;
}

.normal-center {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.name {
  font-size: 60px;
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 500;
  font-style: light;
}

.cert_boxes {
  display: flex;
  padding: 30px;
  height: 10em;
  justify-content: center;
}

.cert_boxes2 {
  display: flex;
  width: 25em;
  justify-content: center;
}

.project_boxes {
  display: flex;
  padding: 30px;
  height: 350px;
  justify-content: center;
}

.project_boxes2 {
  display: flex;
  width: 40em;
  justify-content: center;
}

.project_boxes_smaller {
  display: flex;
  height: 100px;
  justify-content: center;
}

.project_boxes2_smaller {
  display: flex;
  width: 40em;
  padding: 2em;
  justify-content: center;
}

.content2 {
  text-align: center;
}

.hobbies_boxes {
  display: flex;
  padding: 10px;
  height: 350px;
  justify-content: center;
}

.hobbies_boxes2 {
  display: flex;
  width: 40em;
  justify-content: center;
}

.hobbies_boxes_smaller {
  display: flex;
  height: 100px;
  justify-content: center;
}

.hobbies_boxes2_smaller {
  display: flex;
  width: 40em;
  padding: 1em;
  justify-content: center;
}

#img1 {
  width: 15.5em;
  height: 20em;
}

@media only screen 
and (max-device-width: 600px) {
  body {
    font-family: "Noto Sans", sans-serif;
    margin: auto;
    background-color: #fbf2fc;
    color: #231f24;
    font-size: 11;
    font-weight: 350;
    width: 100%;
  }

  .name {
    font-size: 32px;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 500;
    font-style: light;
  }

  .boxes {
    display: inline;
    padding: 30px;
    height: 10em;
  }

  .boxes2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .box-text {
    padding: 3em;
    font-size: 12px;
  }
}