body {
  font-family: "Noto Sans", sans-serif;
  margin: auto;
  background-color: #fbf2fc;
  color: #231f24;
  font-size: 20;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c172cf;
  color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5d3763;
}

.active {
  background-color: #231f24;
}

.content {
  text-align: center;
}

.boxes {
  display: flex;
  padding: 30px;
  height: 500px;
  background-color: #fefaff;
  border-radius: 25px;
}

.box-text {
  padding: 25px;
  padding-top: 180px;
}

.hobbies {
  font-family: "Noto Sans", sans-serif;
  color: #231f24;
  font-size: 20;
  font-weight: 500;
  width: 160px;
  height: 45px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fefaff;
}